.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
*.log
# Rider
.idea/

# NuGet
*.nupkg
packages/

# Visual Studio temporary files
*.tmp

# Build results
out/

# dotnet tool cache
.tool/
